abc/src/sat/bsat/satSolver2i.o
abc/src/sat/satoko/solver.o
/abc/abc.history
abc/abc
abc
*.o
*.d
final/src/abc.history
.vscode
/final_ML/RL/*.txt
/final_ML/RL/models/sample_model/*.zip
/final_ML/CircuitNN/cktnn